$theme-color: #6E0821;
$theme-color-light: #E46D92;
$theme-color-light-nohex: E46D92;
$theme-color-bright: #FFD7E2;
$theme-color-bright-nohex: FFD7E2;
$theme-background: #6E0821;

$max-popup-width: 600px;
$color-text: #fff;

@import "config.scss";
