<!DOCTYPE widget>
<FrameSequencePlugin>
<slides>
<slide>
<img autosize="false" rid="1QP30PO72C6598IKPD4L" alttext="" orientation="1" height="512" width="705" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/04_William/TriangularTradeWidget/Queen_square_Bristol.png</img>
<caption searchable="true">Bristol, UK</caption>
<description searchable="true">Thomas Leeson Rowbotham, Queen Square, looking south-east, (1872).

A large port city in south-west England that was heavily involved in the Atlantic slave trade. In 1750, it is estimated that around 8,000 of the 20,000 African slaves traded, sent to be sold in the Americas, were transported across the Atlantic by Bristol ships. Profits from the slave trade were used by merchants to beautify the city with grand Georgian architecture style, such as Queen Square above.</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="false" rid="YZWZHZ7WXAF3P8JN3X7I" alttext="" orientation="1" height="875" width="3000" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/04_William/TriangularTradeWidget/Ghana_Senegal.jpg</img>
<caption searchable="true">Ghana (left) and Senegal (right), West Coast of Africa</caption>
<description searchable="true">Ghana: William Smith, The North Prospect of the English and Dutch Forts at Accra, (1727)
Senegal: Renè Claude Geoffrey de Villeneuve, Mandingo Slave Traders and Coffle, Senegal, (1780s)

The ships that left Europe sailed to the west coast of Africa where they docked at a number of fortified trading enclaves (known as ‘Factories’, based on the original term given by the first Portuguese traders). From here, they would barter with the natives, typically offering the products of an increasingly industrial Europe, including textiles and other manufactured goods.

These trading posts would also be the destination for those who brought people from the interior of Africa to be traded as slaves. The captured people would be traded to the Europeans, and from there shipped west to the Americas.</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="false" rid="V5X13C7ARE80YMCJQCP7" alttext="" orientation="1" height="2300" width="1958" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/04_William/TriangularTradeWidget/slaves_onWildfire.jpg</img>
<caption searchable="true">The Middle Passage, Atlantic Ocean</caption>
<description searchable="true">‘The Africans of the Slave Bark “Wildfire”, Harper’s Weekly, (June 2nd, 1860)

The captive Africans were taken aboard the European ships to be transported to the Americas and sold there as slaves. The journey across the Atlantic – the infamous Middle Passage of the triangular trade route – was characterized by deplorable conditions and inhumane cruelty. Many died, simply to be tossed overboard, lost to the sea.

Africans were crowded into the ships with no regard for well-being and safety; to the slavers, they were products to be sold, and the more the slavers could transport, the more profit they would make.</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="false" rid="36C4FTOSPJ39EKNF167V" alttext="" orientation="1" height="1155" width="1998" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/04_William/TriangularTradeWidget/Kentucy_Auction.jpg</img>
<caption searchable="true">Kentucky, United States</caption>
<description searchable="true">Henry Bibb, Slave Auction, US South, (ca. 1840s)

Upon their arrival in the Americas – whether in the North, the South, or in the Caribbean –, the slaves who had survived the degradation of the Middle Passage found themselves herded to slave markets and auctions. Here, they would be sold to the highest bidder, subject to inspection and dehumanization. As this evocative illustration shows, the process could often divide families; here a young mother appears to be separated from her baby who is casually held aloft.</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="false" rid="J2SMKI5DUW14HCYWTJ3C" alttext="" orientation="1" height="865" width="865" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/04_William/TriangularTradeWidget/London_smokers.jpg</img>
<caption searchable="true">London, UK</caption>
<description searchable="true">Customs &amp; manners of ye Englyshe people. How ye younge menne doe smoke, (1850s)

Having been sold to the highest bidders at auction, many of the African slaves were then put to work on the vast plantations that rapidly sprung up across the Americas. At these sprawling agricultural estates, the colonizers sought to exploit the climate and conditions of the Americas, which allowed for the growth of crops that were high in-demand in Europe: cotton, tobacco, and sugar amongst them. 

The slave traders, now devoid of cargo, would refill their ships with the produce of these plantations and ship them back to Europe, ready to be consumed by a demanding – and importantly wealthy – market. The streets of London were soon thick with the smoke of this terrible trade.</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
</slides>
<title searchable="true">Atlantic Slave Trade</title>
<widget_language></widget_language>
<LocalizationMap>
<localization>
<phrase>Page views</phrase>
<translation></translation>
<modified>false</modified>
</localization>
<localization>
<phrase>Pages viewed</phrase>
<translation></translation>
<modified>false</modified>
</localization>
</LocalizationMap>
<DesignConstants widget_backgroundimage="" widget_font="Verdana" template="Dark Background" widget_color="#3498DB">
<constant>
<name>borderbackground</name>
<kind>BackgroundGradient</kind>
<value>#88badb, #88badb, 255, 255</value>
</constant>
<constant>
<name>backgroundbackground</name>
<kind>BackgroundGradient</kind>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>backgroundimage</name>
<kind>BackgroundImage</kind>
<value></value>
</constant>
<constant>
<name>backgroundoutline</name>
<kind>Outline</kind>
<value>2px, dotted, #ffffff, 127</value>
</constant>
<constant>
<name>titlefont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>titlecolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>titlebackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>titleborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #dddddd, 255</value>
</constant>
<constant>
<name>titleborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>titleshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>captionfontfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 28</value>
</constant>
<constant>
<name>captionfontcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>descriptionfontfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 16</value>
</constant>
<constant>
<name>descriptionfontcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>imageborderleft</name>
<kind>BorderLeft</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderright</name>
<kind>BorderRight</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imagebordertop</name>
<kind>BorderTop</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderbottom</name>
<kind>BorderBottom</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderradius</name>
<kind>BorderRadius</kind>
<value>5px, 5px, 5px, 5px</value>
</constant>
<constant>
<name>imagebackgroundcolor</name>
<kind>BackgroundColor</kind>
<value>#010539</value>
</constant>
<constant>
<name>imageshadow</name>
<kind>BoxShadow</kind>
<value>0px, 2px, 4px, 1px, #010539, 48</value>
</constant>
<constant>
<name>picbuttonfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 16</value>
</constant>
<constant>
<name>picbuttoncolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>picbuttonbackground</name>
<kind>BackgroundGradient</kind>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>picbuttonborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderradius</name>
<kind>BorderRadius</kind>
<value>24px, 24px, 24px, 24px</value>
</constant>
<constant>
<name>picbuttonpadding</name>
<kind>Padding</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>picbuttonselectedcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>picbuttonselectedbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>navigationcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>navigationbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>navigationborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>navigationshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
</DesignConstants>
<cover autosize="true" rid="BKR9STT8Y5OHVO4LGZIA" alttext="" orientation="1" height="768" width="576" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/GIT_workshop/ibooks-history/shared/Default.png</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
<BookWidgetsVersion>6.1.1</BookWidgetsVersion>
<shortcode>4BCV643</shortcode>
<label searchable="true">TriangularTrade</label>
<lastupload>Mon Aug 24 16:48:08 2020</lastupload>
</FrameSequencePlugin>
