html {
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88badb), color-stop(100%, #88badb));
  background: -moz-linear-gradient(top, #88badb, #88badb);
  background-image: -ms-linear-gradient(top, #88badb, #88badb); }

[role=button]:focus {
  outline: 2px dotted rgba(255, 255, 255, 0.498039); }

body {
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498db), color-stop(100%, #3498db));
  background: -moz-linear-gradient(top, #3498db, #3498db);
  background-image: -ms-linear-gradient(top, #3498db, #3498db); }

#top-container {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border-bottom: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 0px 0px #888888;
  -webkit-box-shadow: 0px 0px 0px 0px #888888; }

.caption {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 28px;
  color: white; }

.content {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  color: white; }

.view .display {
  border-left: 5px solid white;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #010539;
  box-shadow: 0px 2px 4px 1px rgba(1, 5, 57, 0.188235);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(1, 5, 57, 0.188235); }

.buttonslot .number-button {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498db), color-stop(100%, #3498db));
  background: -moz-linear-gradient(top, #3498db, #3498db);
  background-image: -ms-linear-gradient(top, #3498db, #3498db);
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-border-top-left-radius: 24px;
  -webkit-border-top-right-radius: 24px;
  -webkit-border-bottom-left-radius: 24px;
  -webkit-border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px; }

.buttonslot.selected .number-button {
  color: #3498db;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
  background: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white); }

.navbutton {
  color: white;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border-left: 0px solid black;
  border-top: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 0px solid black;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 0px 0px #888888;
  -webkit-box-shadow: 0px 0px 0px 0px #888888; }

@media print {
html {
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7a7a), color-stop(100%, #7d7a7a));
  background: -moz-linear-gradient(top, #7d7a7a, #7d7a7a);
  background-image: -ms-linear-gradient(top, #7d7a7a, #7d7a7a); }

[role=button]:focus {
  outline: 2px dotted rgba(125, 119, 119, 0.498039); }

body {
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
  background: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white); }

#top-container {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 20px;
  color: #7d7777;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border-bottom: 1px solid #bbbbbb;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 0px 0px #888888;
  -webkit-box-shadow: 0px 0px 0px 0px #888888; }

.caption {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 28px;
  color: #010539; }

.content {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  color: #010539; }

.view .display {
  border-left: 5px solid white;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #010539;
  box-shadow: 0px 2px 4px 1px rgba(1, 5, 57, 0.188235);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(1, 5, 57, 0.188235); }

.buttonslot .number-button {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  color: #7d7777;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
  background: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  border-left: 1px solid #7d7777;
  border-top: 1px solid #7d7777;
  border-right: 1px solid #7d7777;
  border-bottom: 1px solid #7d7777;
  -webkit-border-top-left-radius: 24px;
  -webkit-border-top-right-radius: 24px;
  -webkit-border-bottom-left-radius: 24px;
  -webkit-border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px; }

.buttonslot.selected .number-button {
  color: white;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7777), color-stop(100%, #7d7777));
  background: -moz-linear-gradient(top, #7d7777, #7d7777);
  background-image: -ms-linear-gradient(top, #7d7777, #7d7777); }

.navbutton {
  color: #7d7777;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border-left: 0px solid black;
  border-top: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 0px solid black;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 0px 0px #888888;
  -webkit-box-shadow: 0px 0px 0px 0px #888888; }
}
