$theme-color: #2b4b0a;
$theme-color-light: #44840D;
$theme-color-light-nohex: 44840D;
$theme-color-bright: #D2E3C4;
$theme-color-bright-nohex: D2E3C4;
$theme-background: linear-gradient(146.05deg, $theme-color-light 2.47%, #1D390C 121.69%);

$max-popup-width: 600px;
$color-text: #fff;

@import "_sequence-config.scss";

.titlebar-layout {
    background-color: $theme-background;
}

#draghandle polygon {
    fill: white;
}

#draghandle line {
    stroke: white;
}

.image {
    background-color: transparent !important;
}
