$theme-color: #090A0D;
$theme-color-light: #3C3C3C;
$theme-color-light-nohex: 3C3C3C;
$theme-color-bright: #9C9C9D;
$theme-color-bright-nohex: 9C9C9D;
$theme-background: #090A0D;

$max-popup-width: 600px;
$color-text: #fff;

@import "_sequence-config.scss";

body {
    background: transparent;
}

.background {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $theme-background;
}
