$theme-color: #EFCD6B;
$theme-color-light: #B49968;
$theme-color-light-nohex: B49968;
$theme-color-bright: #D62C2C;
$theme-color-bright-nohex: D62C2C;
$theme-background: linear-gradient(146.23deg, #EFCD6B 16.05%, #FBEF94 62.23%, #CB9741 106.66%);

$max-popup-width: 600px;

@import "_sequence-config.scss";
