$theme-color: #2A5F81;
$theme-color-light: #377C9E;
$theme-color-light-nohex: 377C9E;
$theme-color-bright: #CFE0EA;
$theme-color-bright-nohex: CFE0EA;
$theme-background: linear-gradient(149.99deg, #6FA8C4 -0.63%, #377C9E 40.32%, #2F5788 102.82%);;

$max-popup-width: 600px;
$color-text: #fff;

@import "_sequence-config.scss";
