<!DOCTYPE widget>
<HotspotImage>
<background_picture alttext="" orientation="1" caption="" rid="KIO5AFZNHYY279WEFVNA" width="1024" height="428" autosize="true">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/Source analysis/02_Luis/Letter-01.png</background_picture>
<resize-policy value="Image draggable and resizeable">Image draggable and resizeable</resize-policy>
<position>
<Width></Width>
<Height></Height>
<X></X>
<Y></Y>
</position>
<hotspots>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">Written as a polemical tract, to convince the Spanish Crown of the need to protect the indigenous populations, Las Casas can be seen here to provide an idyllic representation of native society. The people, portrayed as amiable, honest, and industrious, are juxtaposed with the rapacious, lazy and cruel colonizers. The inclusion of their willingness to embrace Christianity makes clear the close relationship between faith and the exercise of power in the New World.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>185</X>
<Y>63</Y>
</position>
<point>
<x>265</x>
<y>145</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image alttext="" orientation="1" caption="" rid="" width="0" height="0" autosize="true">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="left">Left of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">Here, Las Casas can be seen to present to the Crown the terrible demographic collapse of the indigenous populations in the New World. His reference to the 30 other islands around San Juan (Puerto Rico) make clear the complexity of native society, and the spread of destruction as wrought by the effects of colonization. More notable perhaps, is his insistence not only in their depopulation, but in their destruction. Although he makes no specific reference to violence, and although disease was the greatest killer of native Americans, Las Casas can be seen here to infer that human agency was responsible for the destruction of native society on these islands and many others. &lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>50</X>
<Y>50</Y>
</position>
<point>
<x>262</x>
<y>326</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image alttext="" orientation="1" caption="" rid="" width="0" height="0" autosize="true">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="left">Left of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">Las Casas’ account of the atrocities of the Spanish in the New World fed directly into broader European prejudices concerning the greed and rapacity of both the new imperialists and of the Catholic Church whom they represented. After all, the Catholic Church’s wealth was one of the central grievances behind the Reformation. &lt;br />&lt;br />Although a devout, Catholic Las Casas here describes explicitly how greed has contributed to Spanish crimes in their American colonies. That he has specified a greed for gold is notable. It was the extraction of material wealth, the principle of mercantilism, that played a crucial motivating factor in Spanish imperial expansion into the Americas.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>444</X>
<Y>51</Y>
</position>
<point>
<x>504</x>
<y>62</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image alttext="" orientation="1" caption="" rid="" width="0" height="0" autosize="true">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="left">Left of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">Crafted with an eye on its rhetorical impact, Las Casas’ descriptions of the Natives and of the Spanish are notable for their stark contrast. As seen above, the natives are frequently idyllic and pacific people. By contrast, here describing the Spanish at work on the island of Hispaniola (the Greater Antilles, i.e. the Dominican Republic / Haiti), his descriptions come alive with scenes of almost unimaginable cruelty. He is again keen to stress that these are crimes committed by Christians, designed to shock his contemporary readers into action.&lt;/span>&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; font-family:'.SF NS Text';">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">Such graphic descriptions fed into the broader European imagination and contributed to the so-called Black Legend. As competition between European states spilled over into brutal warfare in the 16th and 17th centuries, descriptions such as those of Las Casas here inspired horrific artworks, usually in Protestant states, produced to validate their continued struggles against the Catholic Spanish. A notable example is the etchings of Theodor de Bry, a Flemmish artist forced to flee the Netherlands during the repressions of the Spanish Inquisition in the late 16th century. His subsequent work was distinctly anti-Spanish and anti-Catholic in nature, and was frequently inspired by writings such as Las Casas’.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>430</X>
<Y>169</Y>
</position>
<point>
<x>500</x>
<y>202</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image alttext="" orientation="1" caption="" rid="" width="0" height="0" autosize="true">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="left">Left of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">Towards the end of his treatise, Las Casas reaffirms that his work is directed to the Spanish Crown, whom ostensibly controlled the colonies (the reality was frequently that in this early modern empire, the vast distances between the colony and the central authority made effective control nigh impossible. Las Casas also refers to the New Laws of 1542, which abolished the slavery of native Americans in the Spanish colonies. Although crimes continued to be committed, and the natives continued to be exploited, maltreated, and brutalized, the promulgation of such laws does indicate that there were movements within Spanish society to change their approach to Empire. &lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>694</X>
<Y>2</Y>
</position>
<point>
<x>747</x>
<y>46</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image alttext="" orientation="1" caption="" rid="" width="0" height="0" autosize="true">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="left">Left of hotspot</popup-location-preference>
</TextPopup>
</hotspots>
<support_student_account value="no">No student accounts</support_student_account>
<student_account_authproviders/>
<student_account_school>
<code></code>
<name>Anyone</name>
</student_account_school>
<student_account_authrestrict>yes</student_account_authrestrict>
<widget_language></widget_language>
<LocalizationMap>
<localization>
<phrase>Hotspot accesses</phrase>
<translation></translation>
<modified>false</modified>
</localization>
<localization>
<phrase>Hotspots accessed</phrase>
<translation></translation>
<modified>false</modified>
</localization>
</LocalizationMap>
<DesignConstants widget_backgroundimage="" widget_color="#3498DB" template="Dark Background" widget_font="Verdana">
<constant>
<name>hiddenborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>hiddenbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 1, 1</value>
</constant>
<constant>
<name>hiddenshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>labelborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>labelbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>labelcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>labelfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>labelshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>pointerborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>popupborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>popupshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>popupfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 14</value>
</constant>
<constant>
<name>popupcolor</name>
<kind>TextColor</kind>
<value>#000000</value>
</constant>
<constant>
<name>buttonstrokecolor</name>
<kind>StrokeColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>buttonfillcolor</name>
<kind>FillColor</kind>
<value>#ffffff</value>
</constant>
</DesignConstants>
<cover alttext="" orientation="1" caption="" rid="PB3DMIF2XJUWMWPU2D4C" width="768" height="1143" autosize="false">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/Source analysis/02_Luis/cover.png</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
<BookWidgetsVersion>6.1.0</BookWidgetsVersion>
<shortcode></shortcode>
<label searchable="true"></label>
<lastupload></lastupload>
</HotspotImage>
