<QuizPlugin>
<shortcode>GBA6FGT</shortcode>
<label>Arun Assessment</label>
<widget_language>en</widget_language>
<questions>
<TextMultpleChoice>
<Question searchable="true">What difficult choice did Arun likely face as a young man?  Make an inference based on the information in the narrative.</Question>
<Answers searchable="true" version="2">Whether he should work with the British who were occupying his homeland, or to work with other zamindars to expel the foreigners.&#xd;
Whether to spend more time with his sister or more time working on a farm.&#xd;
Whether to set sail on a British boat or stay in India.&#xd;
Whether he should join resistance fighters in the spice islands or live a life of ease in his estate in India.</Answers>
<Valid value="1">1</Valid>
<random-answer-order>true</random-answer-order>
<multi-column>false</multi-column>
<Rationale searchable="true"/>
<rationale_img autosize="true" alttext=""/>
<rationale_imgsize value="Big">Big</rationale_imgsize>
<hint searchable="true"/>
<audio/>
<img autosize="true"/>
<imgsize value="Big">Big</imgsize>
<imgpos value="After question">After question</imgpos>
<scoring-weight searchable="true">1</scoring-weight>
</TextMultpleChoice>
<PictureMultpleChoice>
<Question searchable="true">Which of the maps is most useful to analyze the historical time period in this narrative?</Question>
<Answers>
<node autosize="true">https://storage.googleapis.com/bookwidgets-eu--create/resources/64/6458091810848768/21/219c63cd-6e90-4d90-89a5-ebb6f72025f4.png?filename=Partition_of_India-en.svg.png</node>
<node autosize="true">https://storage.googleapis.com/bookwidgets-eu--create/resources/64/6458091810848768/f9/f9da12e0-7fef-419c-ad03-daf3a0129399.jpeg?filename=dutch%20map.jpeg</node>
<node autosize="true">https://storage.googleapis.com/bookwidgets-eu--create/resources/64/6458091810848768/98/98407e6d-deb9-481e-8935-02912337f092?filename=east%20india%20map</node>
</Answers>
<Valid value="3">3</Valid>
<Rationale searchable="true"/>
<rationale_img autosize="true" alttext=""/>
<rationale_imgsize value="Big">Big</rationale_imgsize>
<hint searchable="true"/>
<audio/>
<img autosize="true"/>
<imgsize value="Big">Big</imgsize>
<imgpos value="After question">After question</imgpos>
<scoring-weight searchable="true">1</scoring-weight>
</PictureMultpleChoice>
<TextMultiSelect>
<Question searchable="true">Which of these conclusion can you reasonably draw from the content of the narrative?</Question>
<Answers searchable="true" version="2">Peasants in India were treated harshly by the British and their agents.&#xd;
The British East India Company gained wealth from India.&#xd;
India has a large population.&#xd;
Arun's life history was a common one in India in historical times and today.&#xd;
Arun rarely traveled out of his village.</Answers>
<Valid>2 1</Valid>
<random-answer-order>true</random-answer-order>
<multi-column>false</multi-column>
<Rationale searchable="true"/>
<rationale_img autosize="true" alttext=""/>
<rationale_imgsize value="Big">Big</rationale_imgsize>
<hint searchable="true"/>
<audio/>
<img autosize="true"/>
<imgsize value="Big">Big</imgsize>
<imgpos value="After question">After question</imgpos>
<policy value="all">Score points when all answers are correct.</policy>
<scoring-weight searchable="true">1</scoring-weight>
<scoring-wrong-answer-weight searchable="true"/>
</TextMultiSelect>
<WordMatch>
<Question searchable="true">Match the term to the correct definition.</Question>
<pairs>
<WordPair>
<source searchable="true">Red Dragon</source>
<target searchable="true">famous British sailing vessel </target>
</WordPair>
<WordPair>
<source searchable="true">Maharajah</source>
<target searchable="true">"Great Ruler" or "Prince" of an Indian State</target>
</WordPair>
<WordPair>
<source searchable="true">Dutch East India Company</source>
<target searchable="true">controlled a trade empire</target>
</WordPair>
<WordPair>
<source searchable="true">peasants</source>
<target searchable="true">had to pay taxes to the local leaders and British</target>
</WordPair>
<WordPair/>
</pairs>
<Rationale searchable="true"/>
<rationale_img autosize="true" alttext=""/>
<rationale_imgsize value="Big">Big</rationale_imgsize>
<hint searchable="true"/>
<audio/>
<img autosize="true"/>
<imgsize value="Big">Big</imgsize>
<imgpos value="After question">After question</imgpos>
<scoring-weight searchable="true">1</scoring-weight>
<version>1</version>
</WordMatch>
<TextMultpleChoice>
<Question searchable="true">What was the most important factor to explain why the peasants in the narrative paid taxes to Arun?</Question>
<Answers searchable="true" version="2">They were frightened of violence if they did not pay.&#xd;
They worshiped Arun as a god-like figure.&#xd;
Paying taxes was a good way to create a partnership with Britain.&#xd;
Paying taxes on time likely would lead to a more prosperous life for the family.&#xd;
They believed the government was a great help to the peasants.</Answers>
<Valid value="1">1</Valid>
<random-answer-order>true</random-answer-order>
<multi-column>false</multi-column>
<Rationale searchable="true"/>
<rationale_img autosize="true" alttext=""/>
<rationale_imgsize value="Big">Big</rationale_imgsize>
<hint searchable="true"/>
<audio/>
<img autosize="true"/>
<imgsize value="Big">Big</imgsize>
<imgpos value="After question">After question</imgpos>
<scoring-weight searchable="true">1</scoring-weight>
</TextMultpleChoice>
</questions>
<id searchable="true">Arun Assessment</id>
<submit_answers>false</submit_answers>
<submit_only_once>false</submit_only_once>
<submitformfields>
<formfield defaultValue="" isEditable="true" isVisible="true">student_name</formfield>
<formfield defaultValue="" isEditable="true" isVisible="true">student_email</formfield>
<formfield defaultValue="" isEditable="true" isVisible="false">student_class_id</formfield>
<formfield defaultValue="" isEditable="false" isVisible="false">teacher_email</formfield>
<formfield defaultValue="" isEditable="true" isVisible="false">student_id</formfield>
</submitformfields>
<email_should_have_grading>true</email_should_have_grading>
<action searchable="true">https://api.bookwidgets.com/api/v1/quiz/post</action>
<servertype value="BookWidgets">BookWidgets</servertype>
<examination_mode>false</examination_mode>
<countdown_time searchable="true">30</countdown_time>
<exam_mode_submit_dialog_clear>true</exam_mode_submit_dialog_clear>
<support_student_account value="no">No student accounts</support_student_account>
<student_account_authproviders/>
<student_account_school>
<code/>
<name/>
</student_account_school>
<student_account_authrestrict>true</student_account_authrestrict>
<show_answers>true</show_answers>
<color_correct_answers>false</color_correct_answers>
<show_score value="No">No</show_score>
<allow_edit_after_check_or_send>false</allow_edit_after_check_or_send>
<feedback/>
<show_question_points>false</show_question_points>
<allow_sharing>false</allow_sharing>
<share_action searchable="true">https://api.bookwidgets.com/api/v1/quiz/share</share_action>
<allow_download>false</allow_download>
<download_action searchable="true">https://api.bookwidgets.com/api/v1/quiz/download</download_action>
<download_includes_correction value="no">Never include correction when downloading.</download_includes_correction>
<save_answers>true</save_answers>
<uuid2>{9b7add00-cf82-11ea-8495-61b8647ffe4a}</uuid2>
<origbase_version>1</origbase_version>
<require_password value="Once">Once</require_password>
<spellcheck>true</spellcheck>
<random_order>false</random_order>
<auto_numbering>true</auto_numbering>
<info_numbering>false</info_numbering>
<provide_calculator value="None">None</provide_calculator>
<allow_text_selection>false</allow_text_selection>
<auto_play_audio>false</auto_play_audio>
<direction value="left-to-right">left-to-right</direction>
<LocalizationMap>
<localization>
<phrase>Quiz</phrase>
</localization>
<localization>
<phrase>All done !</phrase>
</localization>
<localization>
<phrase>Click the button to submit or go back to review your answers.</phrase>
</localization>
<localization>
<phrase>Click the button to see the correct answers or go back to review your answers.</phrase>
</localization>
<localization>
<phrase>Click the button to see your score or go back to review your answers.</phrase>
</localization>
<localization>
<phrase>Show question list</phrase>
</localization>
<localization>
<phrase>Previous question</phrase>
</localization>
<localization>
<phrase>Next question</phrase>
</localization>
<localization>
<phrase>Switch to edit mode</phrase>
</localization>
<localization>
<phrase>QUESTION</phrase>
</localization>
<localization>
<phrase>Submit</phrase>
</localization>
<localization>
<phrase>Share the quiz by email.</phrase>
</localization>
<localization>
<phrase>Unable to send quiz. Make sure you're connected to the internet.</phrase>
</localization>
<localization>
<phrase>The time allowed for this test has expired.  You can no longer change your answers.</phrase>
</localization>
<localization>
<phrase>Show answers</phrase>
</localization>
<localization>
<phrase>Are you done and do you want to show the answers?</phrase>
</localization>
<localization>
<phrase>Show score</phrase>
</localization>
<localization>
<phrase>Are you done and do you want to show your score?</phrase>
</localization>
<localization>
<phrase>Clear answers and start over</phrase>
</localization>
<localization>
<phrase>Ok</phrase>
</localization>
<localization>
<phrase>The quiz was sent successfully!</phrase>
</localization>
<localization>
<phrase>Your results were sent successfully!  You can now review your answers.</phrase>
</localization>
<localization>
<phrase>Your results were sent successfully!</phrase>
</localization>
<localization>
<phrase>Unable to send quiz results. Make sure you're connected to the internet.</phrase>
</localization>
<localization>
<phrase>Quiz results not accepted.</phrase>
</localization>
<localization>
<phrase>Email address and student name can't be empty.</phrase>
</localization>
<localization>
<phrase>You need to log in to the course before you can send your results! Use the Sign In widget at the start of this book to do so.</phrase>
</localization>
<localization>
<phrase>Please enter password</phrase>
</localization>
<localization>
<phrase>Wrong password...</phrase>
</localization>
<localization>
<phrase>Password</phrase>
</localization>
<localization>
<phrase>Your score is</phrase>
</localization>
<localization>
<phrase>Score</phrase>
</localization>
<localization>
<phrase>Feedback</phrase>
</localization>
<localization>
<phrase>Your answer:</phrase>
</localization>
<localization>
<phrase>The answer:</phrase>
</localization>
<localization>
<phrase>The answers:</phrase>
</localization>
<localization>
<phrase>Correct answers:</phrase>
</localization>
<localization>
<phrase>Tap to select picture</phrase>
</localization>
<localization>
<phrase>No camera on this device</phrase>
</localization>
<localization>
<phrase>This word is correct.</phrase>
</localization>
<localization>
<phrase>Clear the answers and start over?</phrase>
</localization>
<localization>
<phrase>The answers will be permanently deleted and cannot be recovered. Are you sure?</phrase>
</localization>
<localization>
<phrase>Yes, clear</phrase>
</localization>
<localization>
<phrase>No, keep</phrase>
</localization>
<localization>
<phrase>Clear the text and start over?</phrase>
</localization>
<localization>
<phrase>Show hint</phrase>
</localization>
<localization>
<phrase>Answer keys</phrase>
</localization>
<localization>
<phrase>Yes</phrase>
</localization>
<localization>
<phrase>No</phrase>
</localization>
<localization>
<phrase>Clear and restart</phrase>
</localization>
<localization>
<phrase>Check answers</phrase>
</localization>
<localization>
<phrase>Correct answers</phrase>
</localization>
<localization>
<phrase>Wrong answers</phrase>
</localization>
<localization>
<phrase>Unanswered</phrase>
</localization>
<localization>
<phrase>CLEAR</phrase>
</localization>
<localization>
<phrase>Yes, this equation is balanced</phrase>
</localization>
<localization>
<phrase>No, this equation is not balanced</phrase>
</localization>
<localization>
<phrase>Sum of charges:</phrase>
</localization>
<localization>
<phrase>Reactants</phrase>
</localization>
<localization>
<phrase>Products</phrase>
</localization>
<localization>
<phrase>Are you sure?</phrase>
</localization>
<localization>
<phrase>Clear the image and start over?</phrase>
</localization>
<localization>
<phrase>Yes, clear the image</phrase>
</localization>
<localization>
<phrase>No, keep my image</phrase>
</localization>
<localization>
<phrase>Accessing the camera and photo library does not work on this platform.</phrase>
</localization>
<localization>
<phrase>Camera not supported</phrase>
</localization>
<localization>
<phrase>Could not store picture</phrase>
</localization>
<localization>
<phrase>Error inserting picture</phrase>
</localization>
<localization>
<phrase>This widget needs internet access to store pictures.  Please connect and try again.</phrase>
</localization>
<localization>
<phrase>Image upload error</phrase>
</localization>
<localization>
<phrase>Error using picture</phrase>
</localization>
<localization>
<phrase>Authentication error.</phrase>
</localization>
<localization>
<phrase>Cancel</phrase>
</localization>
<localization>
<phrase>Could not connect to server, check your internet connection.</phrase>
</localization>
<localization>
<phrase>Email</phrase>
</localization>
<localization>
<phrase>Forgot password?</phrase>
</localization>
<localization>
<phrase>Not logged in</phrase>
</localization>
<localization>
<phrase>OK</phrase>
</localization>
<localization>
<phrase>Offline</phrase>
</localization>
<localization>
<phrase>Online</phrase>
</localization>
<localization>
<phrase>Password</phrase>
</localization>
<localization>
<phrase>Please sign in</phrase>
</localization>
<localization>
<phrase>Received error trying to sign in</phrase>
</localization>
<localization>
<phrase>School code</phrase>
</localization>
<localization>
<phrase>Server error when signing in.</phrase>
</localization>
<localization>
<phrase>Sign in</phrase>
</localization>
<localization>
<phrase>Sign in failed</phrase>
</localization>
<localization>
<phrase>Sign in to save your answers online</phrase>
</localization>
<localization>
<phrase>Sign in using</phrase>
</localization>
<localization>
<phrase>Sign in using email and password</phrase>
</localization>
<localization>
<phrase>Sign in using school account</phrase>
</localization>
<localization>
<phrase>Sign out</phrase>
</localization>
<localization>
<phrase>Sign up here</phrase>
</localization>
<localization>
<phrase>Username</phrase>
</localization>
<localization>
<phrase>Waiting</phrase>
</localization>
<localization>
<phrase>Waiting for account sign in to complete...</phrase>
</localization>
<localization>
<phrase>Widget configuration error: school doesn't exist</phrase>
</localization>
<localization>
<phrase>Wrong username or password, please try again.</phrase>
</localization>
<localization>
<phrase>You need to be signed in to use this widget.</phrase>
</localization>
<localization>
<phrase>You're currently offline and logged in as user:</phrase>
</localization>
<localization>
<phrase>You're currently online and logged in as user:</phrase>
</localization>
<localization>
<phrase>You're offline</phrase>
</localization>
<localization>
<phrase>Your progress on this activity will be shared with your teacher.</phrase>
</localization>
<localization>
<phrase>More info</phrase>
</localization>
<localization>
<phrase>Class ID</phrase>
</localization>
<localization>
<phrase>Send</phrase>
</localization>
<localization>
<phrase>Send Answer</phrase>
</localization>
<localization>
<phrase>Send Failed</phrase>
</localization>
<localization>
<phrase>Sending, please wait...</phrase>
</localization>
<localization>
<phrase>Student Email</phrase>
</localization>
<localization>
<phrase>Student ID</phrase>
</localization>
<localization>
<phrase>Student Name</phrase>
</localization>
<localization>
<phrase>Teacher Email</phrase>
</localization>
<localization>
<phrase>This field is required:</phrase>
</localization>
<localization>
<phrase>Uploading image</phrase>
</localization>
<localization>
<phrase>Uploading audio</phrase>
</localization>
<localization>
<phrase>Uploading your answers...</phrase>
</localization>
<localization>
<phrase>You can't specify multiple addresses for field:</phrase>
</localization>
<localization>
<phrase>Submit is disabled because you're not logged in with a student account. e.g. you may be using a parent account.</phrase>
</localization>
<localization>
<phrase>Sent successfully</phrase>
</localization>
<localization>
<phrase>The email address you provided has not been activated.</phrase>
</localization>
<localization>
<phrase>Invalid user name</phrase>
</localization>
<localization>
<phrase>To prevent abuse, results can only be sent to registered email addresses.</phrase>
</localization>
<localization>
<phrase>Activate by clicking on the link in the email which was sent to the address provided.</phrase>
</localization>
<localization>
<phrase>You can also register at www.bookwidgets.com.</phrase>
</localization>
<localization>
<phrase>Unknown error</phrase>
</localization>
<localization>
<phrase>Optional Message</phrase>
</localization>
<localization>
<phrase>Send</phrase>
</localization>
<localization>
<phrase>Send Failed</phrase>
</localization>
<localization>
<phrase>Sending, please wait...</phrase>
</localization>
<localization>
<phrase>Share</phrase>
</localization>
<localization>
<phrase>This field is required:</phrase>
</localization>
<localization>
<phrase>To Email</phrase>
</localization>
<localization>
<phrase>Uploading image</phrase>
</localization>
<localization>
<phrase>Uploading your answers...</phrase>
</localization>
<localization>
<phrase>You can't specify multiple addresses for field:</phrase>
</localization>
<localization>
<phrase>Your Email</phrase>
</localization>
<localization>
<phrase>Your Name</phrase>
</localization>
<localization>
<phrase>Click here to download your PDF</phrase>
</localization>
<localization>
<phrase>Could not generate PDF.  Please try again later.</phrase>
</localization>
<localization>
<phrase>Download Failed</phrase>
</localization>
<localization>
<phrase>Download as PDF</phrase>
</localization>
<localization>
<phrase>Generate</phrase>
</localization>
<localization>
<phrase>Generate PDF failed</phrase>
</localization>
<localization>
<phrase>Generating PDF, please wait...</phrase>
</localization>
<localization>
<phrase>PDF generated</phrase>
</localization>
<localization>
<phrase>Uploading image</phrase>
</localization>
<localization>
<phrase>Uploading your answers...</phrase>
</localization>
<localization>
<phrase>Your Name</phrase>
</localization>
<localization>
<phrase>Enter your name and click 'Generate' to generate the PDF.</phrase>
</localization>
<localization>
<phrase>Download</phrase>
</localization>
</LocalizationMap>
<DesignConstants widget_font="Verdana" widget_backgroundimage=",auto" widget_color="#3498DB" template="Light Background"/>
<cover width="576" autosize="true" height="768">https://storage.googleapis.com/bookwidgets-eu--create/resources/64/6458091810848768/a4/a48d98cd-05fa-4610-81e3-ba572e486608.png?filename=Default.png</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
</QuizPlugin>
