@font-face {
    font-family: 'Favorit';
    src: url("css/fonts/Favorit/Favorit_Regular.otf") format("opentype");
}

@font-face {
    font-family: 'LynoStan';
    src: url("css/fonts/Lyno%20Family/LynoStan.otf") format("opentype");
}

@font-face {
    font-family: 'Favorit Lining';
    src: url("css/fonts/Favorit%20Lining/Favorit-Medium_Lining.otf") format("opentype");
}
