<!DOCTYPE widget>
<HotspotImage>
<background_picture height="768" caption="" width="519" orientation="1" autosize="true" rid="FCWIY09BARY01LHZQ2PB" alttext="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/content images/Source analysis/01_Ioannina/Le_siège_de_Constantinople_(1453)_by_Jean_Le_Tavernier_after_1455.jpg</background_picture>
<resize-policy value="Image draggable and resizeable">Image draggable and resizeable</resize-policy>
<position>
<Width>1534</Width>
<Height>2230</Height>
<X>-15</X>
<Y>-21</Y>
</position>
<hotspots>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">Here, one can see the Ottoman forces undertaking the colossal effort of transporting their ships over land to see them safely put out in the Golden Horn. This was ordered by Mehmed II because the Byzantine defenders had erected a colossal chain barrier across the water way to block ships from entering. Mehmed’s road of greased logs was not only a triumph of logistical organisation, but it dealt a severe blow to the defenders. With Ottoman ships prowling the waters, the movement of supplies by the Genoese in Pera, who were theoretically neutral, became more difficult still.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width></Width>
<Height></Height>
<X></X>
<Y></Y>
</position>
<point>
<x>57</x>
<y>310</y>
</point>
<marker-label searchable="true">1</marker-label>
<marker-image height="0" caption="" width="0" orientation="1" autosize="true" rid="" alttext="">https://www.bookwidgets.com/create/embedded-resources/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">Broquière’s work is notoriously scant on architectural details of the city of Constantinople. Although he is keen to provide detailed information on the many churches in the city, his is a work less interested in the architectural fabric of the city. Rather, he is altogether more interested in the ecclesiastical mysteries contained with the churches, and of the people he encounters on his travels around the city.&lt;/span>&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">However, some details are contained and evidently influenced this depiction, particularly the description of the city as, “having the form of a triangle, with one side bounded by the straits of St George”. Broquière also describes Constantinople’s landward defences. He estimates the length of the walls as being 6 miles from one side to the other, and he also records the deep ditch, the ‘en glacis’, that was a part of the defences.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width></Width>
<Height></Height>
<X></X>
<Y></Y>
</position>
<point>
<x>308</x>
<y>362</y>
</point>
<marker-label searchable="true">2</marker-label>
<marker-image height="0" caption="" width="0" orientation="1" autosize="true" rid="" alttext="">https://www.bookwidgets.com/create/embedded-resources/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="top">Above hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Despite a rather frustrating lack of interest in the urban fabric of Constantinople, Broquière nevertheless dedicates a significant section of his description of the city to the church of Hagia Sophia. According to Broquière, this is not just one of the many “handsome” churches in the city, but it is the most remarkable. This is confirmed by the illustration, which uses the towering figure of Hagia Sophia as something of an iconic representation of the city. The artist however, is clearly not familiar with the shape and style of Orthodox churches. Whereas Broquière offers a clear description of the rounded shape of Hagia Sophia, the artist here has depicted the church in a much more recognizably European, almost Gothic style, notably in the great central rose window on the façade.&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Broquière’s description of the church appears to have been motivated by his own faith and curiosity; as a Catholic, Broquière confesses to being curious to attend an Orthodox service: “I was curious to witness the manner of the Greeks performing divine service”. He attended a service led by the Patriarch of Constantinople, the highest spiritual authority in Orthodoxy, and saw the imperial family attending the service at the same time. These included the Emperor John Paleologus VII, the predecessor of Constantine XI, the final Byzantine emperor.&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">There could be few clearer indications as to the close relationship between secular power and religion in the Byzantine empire.&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>390</X>
<Y>261</Y>
</position>
<point>
<x>381</x>
<y>251</y>
</point>
<marker-label searchable="true">3</marker-label>
<marker-image height="0" caption="" width="0" orientation="1" autosize="true" rid="" alttext="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="bottom">Below hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Although Broquière was not witness to the siege, the depiction of Constantinople contained within this illustrated version of his work was clearly influenced by other contemporary sources. Here one can see clearly the impressive array of enormous cannon that the Sultan Mehmed II has arrayed against the Byzantine defenders. The illustration, through lacking in some details, nevertheless makes clear not only the vast size of these early cannons, but also the logistical considerations involved in directing their fire. They can be seen to necessitate being securely dug into the ground for instance. One is left to wonder whether one of Le Tavernier’s illustrations here is inspired by a report of Orban’s mighty Basilica cannon.&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">It is also interesting to note in this depiction that the focus remains on the Ottoman army massing in the foreground, rather than the Christian defenders of Constantinople. Resplendent en-masse in golden armour, they stand in marked contrast to the distant and dwindling numbers of Byzantine defenders. &lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>417</X>
<Y>457</Y>
</position>
<point>
<x>416</x>
<y>455</y>
</point>
<marker-label searchable="true">4</marker-label>
<marker-image height="0" caption="" width="0" orientation="1" autosize="true" rid="" alttext="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="left">Left of hotspot</popup-location-preference>
</TextPopup>
</hotspots>
<support_student_account value="no">No student accounts</support_student_account>
<student_account_authproviders/>
<student_account_school>
<code></code>
<name>Anyone</name>
</student_account_school>
<student_account_authrestrict>yes</student_account_authrestrict>
<widget_language></widget_language>
<LocalizationMap>
<localization>
<phrase>Hotspot accesses</phrase>
<translation></translation>
<modified>false</modified>
</localization>
<localization>
<phrase>Hotspots accessed</phrase>
<translation></translation>
<modified>false</modified>
</localization>
</LocalizationMap>
<DesignConstants template="Dark Background" widget_color="#3498DB" widget_font="Verdana" widget_backgroundimage=",auto">
<constant>
<name>hiddenborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>hiddenbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 1, 1</value>
</constant>
<constant>
<name>hiddenshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>labelborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>labelbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>labelcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>labelfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>labelshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>pointerborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>popupborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>popupshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>popupfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 14</value>
</constant>
<constant>
<name>popupcolor</name>
<kind>TextColor</kind>
<value>#000000</value>
</constant>
<constant>
<name>buttonstrokecolor</name>
<kind>StrokeColor</kind>
<value>#000000</value>
</constant>
<constant>
<name>buttonfillcolor</name>
<kind>FillColor</kind>
<value>#ff6633</value>
</constant>
</DesignConstants>
<cover height="768" caption="" width="519" orientation="1" autosize="true" rid="J3E7PSIHZC6T0JTB1VTU" alttext="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/content images/Source analysis/01_Ioannina/Default.png</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
<BookWidgetsVersion>6.0.5</BookWidgetsVersion>
<shortcode>HKSUNB</shortcode>
<label searchable="true">HotspotImageV02_6</label>
<lastupload></lastupload>
</HotspotImage>
