<!DOCTYPE widget>
<FrameSequencePlugin>
<slides>
<slide>
<img autosize="true" rid="5ZFCWIY09BARY01LHZQ2" alttext="" orientation="1" height="600" width="977" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/03_Ishi/5routes/frame1.png</img>
<caption searchable="true">Tokaido</caption>
<description searchable="true">This route ran along the coast from Nihonbashi to Sanjo Ohashi, a central bridge in Kyoto that also served as the culmination of the Nakasendo. Its 53 stations spanned seven prefectures, including Kanagawa, Shizuoka, Aichi, Mie, and Shiga. In the early years of the seventeenth century, the route was extended with the addition of the Osaka Kaido (or Kyokaido) that linked the Tokaido to Koraibashi (modern-day Osaka). This resulted in the addition of four additional stations or outposts. All 53 stations documented in a print series by Hiroshige in the 1830s entitled The Fifty-Three Stations of the Tokaido.</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" rid="PBJ3E7PSIHZC6T0JTB1V" alttext="" orientation="1" height="600" width="977" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/03_Ishi/5routes/frame2.png</img>
<caption searchable="true">Nakasendo</caption>
<description searchable="true">Officially boasting the largest number of stations, Naksendo included 69 stations and merged with the Tokaido route at Kusatus-juku to run to Kyoto, ending at Shimosuwa-shuku. Its sheer expanse meant that the Nakasendo route spanned a remarkably long 330-mile stretch of Honshu island. This route took a mainly inland course and thus was popular among travelers as it did not require any strenuous river crossings. Contributing to its expanse was the fact that several stretches of the route had served as trade thoroughfares before the Edo Period; the consolidation of trade, though, during the Tokugawa Shogunate thus only reinforced the crucial access point that this route represented. Portions of the route are mirrored in the footprint of the national highways, including Route 17 between Tokyo and Taksaki and Route 1 between Kusatsu and Kyoto.
</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" rid="TUBA33U5GNR3Q22OMI45" alttext="" orientation="1" height="600" width="977" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/03_Ishi/5routes/frame3.png</img>
<caption searchable="true">Koshu Kaido</caption>
<description searchable="true">This route stretched between 44 stations that stretched from Tokyo to the Nagano Prefecture to the west. Koshu Kaido was particularly popular during the days of sankin-kotai, a policy enacted during the Tokugawa Shogunate that mandated that daimyos alternate between living in Edo and their home city on a yearly basis.</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" rid="88JIRBJAYZWZHZ7WXAF3" alttext="" orientation="1" height="600" width="977" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/03_Ishi/5routes/frame4.png</img>
<caption searchable="true">Oshu Kaido</caption>
<description searchable="true">Featuring 27 stations, this shorter route headed north from Tokyo to meet the modern-day city of Shirakawa within the Fukushima Prefecture. Originally established by Tokugawa Ieyasu for diplomatic and governmental travel, Oshu Kaido also included subroutes that spread out across the island, including the Sendaido, a subroute that stretched further northward to the coastal city of Sendai. These fingerlike extensions, many of which were also used by government officials in the era of sankin-kotai, also featured a variety of station stopping points such that, in sum, this network subroutes as well as the main Oshu Kaido route total nearly 100 stations. </description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" rid="P8JN3X7I1GM9F8Y0Q7CA" alttext="" orientation="1" height="600" width="977" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/03_Ishi/5routes/frame5.png</img>
<caption searchable="true">Nikko kaido</caption>
<description searchable="true">Comprising 21 stations total, Nikko Kaido shared a good portion of the Oshu Kaido (17 of its 21 stations, to be exact) but branched to the west in order to meet the temple complexes at today’s Rinno-ji and Toshogu in Nikko in Tochigi Prefecture. 
</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
</slides>
<title searchable="true">5 trade routes oF Edo Japan</title>
<widget_language></widget_language>
<LocalizationMap>
<localization>
<phrase>Page views</phrase>
<translation></translation>
<modified>false</modified>
</localization>
<localization>
<phrase>Pages viewed</phrase>
<translation></translation>
<modified>false</modified>
</localization>
</LocalizationMap>
<DesignConstants widget_backgroundimage=",auto" widget_font="Verdana" template="Dark Background" widget_color="#3498DB">
<constant>
<name>borderbackground</name>
<kind>BackgroundGradient</kind>
<value>#88badb, #88badb, 255, 255</value>
</constant>
<constant>
<name>backgroundbackground</name>
<kind>BackgroundGradient</kind>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>backgroundimage</name>
<kind>BackgroundImage</kind>
<value>,auto</value>
</constant>
<constant>
<name>backgroundoutline</name>
<kind>Outline</kind>
<value>2px, dotted, #ffffff, 127</value>
</constant>
<constant>
<name>titlefont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>titlecolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>titlebackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>titleborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #dddddd, 255</value>
</constant>
<constant>
<name>titleborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>titleshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>captionfontfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 28</value>
</constant>
<constant>
<name>captionfontcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>descriptionfontfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 16</value>
</constant>
<constant>
<name>descriptionfontcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>imageborderleft</name>
<kind>BorderLeft</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderright</name>
<kind>BorderRight</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imagebordertop</name>
<kind>BorderTop</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderbottom</name>
<kind>BorderBottom</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderradius</name>
<kind>BorderRadius</kind>
<value>5px, 5px, 5px, 5px</value>
</constant>
<constant>
<name>imagebackgroundcolor</name>
<kind>BackgroundColor</kind>
<value>#010539</value>
</constant>
<constant>
<name>imageshadow</name>
<kind>BoxShadow</kind>
<value>0px, 2px, 4px, 1px, #010539, 48</value>
</constant>
<constant>
<name>picbuttonfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 16</value>
</constant>
<constant>
<name>picbuttoncolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>picbuttonbackground</name>
<kind>BackgroundGradient</kind>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>picbuttonborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderradius</name>
<kind>BorderRadius</kind>
<value>24px, 24px, 24px, 24px</value>
</constant>
<constant>
<name>picbuttonpadding</name>
<kind>Padding</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>picbuttonselectedcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>picbuttonselectedbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>navigationcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>navigationbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>navigationborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>navigationshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
</DesignConstants>
<cover autosize="true" rid="" alttext="" orientation="1" height="0" width="0" caption=""></cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
<BookWidgetsVersion>6.1.1</BookWidgetsVersion>
<shortcode>E8X3EM</shortcode>
<label searchable="true">5routes</label>
<lastupload></lastupload>
</FrameSequencePlugin>
