<!DOCTYPE widget>
<FrameSequencePlugin>
<slides>
<slide>
<img alttext="" autosize="true" rid="Y09BARY01LHZQ2PBJ3E7" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/ba157ccc18b9ee31_S_821_600.55637ac19be97e3afdcd8c3c39444233.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap01.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Osman I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="PSIHZC6T0JTB1VTUBA33" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/41b00de863fe4f41_S_821_600.51685cfeb7d7a8facaba97db906d1f20.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap02.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Orhan Ghazi</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="U5GNR3Q22OMI4588JIRB" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/73aa2f0b1e2d1251_S_821_600.759f488e19934e93069202088a34fba9.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap03.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Murad II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="JAYZWZHZ7WXAF3P8JN3X" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/d4a8d0b3fd9423b1_S_821_600.0006368446f4ca78e9964d22ed5a86f0.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap04.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="7I1GM9F8Y0Q7CAVJL630" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/74074d23fc87a91e_S_821_600.806cf04d014e618cd385f1e4f0683b95.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap05.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Selim I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="BJ4MFLFPDO8HIIABG2HA" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/4333d8f92a2fe563_S_821_600.7de41d4c94fe8484d4c67fa16a3f67ab.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap06.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Suleiman the Magnificent</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="F8KG8ZW2TJ1QP30PO72C" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/4bc24f222fdeddeb_S_821_600.f23947c695707633a4204882ebafaac9.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap07.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Murad IV</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="6598IKPD4LZ6BG1C30SK" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/4e5b0588583179b2_S_821_600.0aa144802812baca06f67feaffcdee45.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap08.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed IV</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="YU880GHS2801HPNBI1LJ" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/f6fb6ee43049e44e_S_821_600.169821167360ed40e72aa9510a5f16e3.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap09.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed IV</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="2N5Q6UTD7C8XPMMH0UY1" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/880f6bc7368fa071_S_821_600.19039de22095ec2885b622b7ff8f1385.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap10.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mustafa II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="HFFBV5R00DAZZJ5UXADT" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/812a2dc846367d7b_S_821_600.cebfd61c07cda7e84bdf9171c13a9129.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap11.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Ahmed III</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="W1MZEIOE97T1BR6TD41K" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/7b534f77693dd08c_S_821_600.e67e5362a42c4c9b9bf6c5c961aa31ac.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap12.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="6EJPYOYF1J1XDKX53MZ5" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/6079cfc6e6542c44_S_821_600.79b091b2838e784c1df3cfb12dd47edc.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap13.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="K27VVVI667MY0GQIW76F" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/9f49f8460c97efae_S_821_600.87683ea4bc97133b6cfe2f85f489cc9f.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap14.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="EJO9VNV5X13C7ARE80YM" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/cfed99bd3ad3d09e_S_821_600.04f4fbb6012042bacab1223d5dbbf041.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap15.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Selim III</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="CJQCP736C4FTOSPJ39EK" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/7f971d5131dc1c29_S_821_600.ca3db1c73d18bdc508f78cdd157440bd.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap16.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Selim III</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="NF167VJ2SMKI5DUW14HC" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/59647c14719fc958_S_821_600.17303978cb2430880711949e60b99a90.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap17.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Selim III</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="YWTJ3CRUS8VJJ5XGZTHD" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/1413f75e8f14a717_S_821_600.a7cba4b89b8a404827f50e918d9c8536.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap18.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="DFP1J1ABCHSC6YJ57Q4P" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/a9a09ddfbd12730a_S_821_600.c38ce1bee6415292f7f6e11a91d3b91d.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap19.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="Q56QVCXUKW65I8BKR9ST" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/3ae03bf519c4348d_S_821_600.c3145dbd159f29483cc5819b00463291.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap20.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="T8Y5OHVO4LGZIAM0MPYI" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/70d9d4cbf343b0d8_S_821_600.05156f9bb446a54d57c8c6a2cbeb1df4.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap21.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="0PIXDVRMW0FV636DE3E4" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/eb25179d5117921d_S_821_600.f2bb8dc9ed0272716e4c9763dff7b707.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap22.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdulaziz</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="Y1NH4GORJFUOX69VO691" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/9d632e90d8803433_S_821_600.cb599a0ed303b88d89380e3e7dde8d34.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap23.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="LP0R37UOPW3RIHXWBBNR" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/b612ffa26674b12b_S_821_600.2cba2d38ac5a8df13a90b324695cdb58.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap24.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="8IEUG2MYQ9YTO716X5ED" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/bd2436f43899c411_S_821_600.fcc428c5f4d9d855c085a39f9904f871.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap25.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="F7MEOJXKHLWNHH99KIO5" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/79ece627d8b59418_S_821_600.6de183529ddcc91919d54a413bf6add9.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap26.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed V</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="AFZNHYY279WEFVNAPB3D" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/58b8c7764b58160d_S_821_600.cb00a455a8b5bfe6f0939bc05ea38c73.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap27.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img alttext="" autosize="true" rid="MIF2XJUWMWPU2D4CP6KW" caption="" width="821" height="600" orientation="1">https://widget-assets-eu.bookwidgets.com/200702/0e49ebc01b685bc0_S_821_600.c4c462a0f3695cb5cbfe68fe9ccc52f8.png?filename=%2FUsers%2Fjulius%2FDocuments%2FDocuments%20-%20Julius%20MacBook%20Pro%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2F02_Empires%2Fimages%2FInfoGFX%2F01_Ioannina%2FriseFallWdgt%2FMap28.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed VI</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
</slides>
<title searchable="true">The Rise and Fall of the Ottoman Empire</title>
<widget_language></widget_language>
<LocalizationMap>
<localization>
<phrase>Page views</phrase>
<translation></translation>
<modified>false</modified>
</localization>
<localization>
<phrase>Pages viewed</phrase>
<translation></translation>
<modified>false</modified>
</localization>
</LocalizationMap>
<DesignConstants template="Dark Background" widget_font="Verdana" widget_color="#3498DB" widget_backgroundimage=",auto">
<constant>
<name>borderbackground</name>
<kind>BackgroundGradient</kind>
<value>#88badb, #88badb, 255, 255</value>
</constant>
<constant>
<name>backgroundbackground</name>
<kind>BackgroundGradient</kind>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>backgroundimage</name>
<kind>BackgroundImage</kind>
<value>,auto</value>
</constant>
<constant>
<name>backgroundoutline</name>
<kind>Outline</kind>
<value>2px, dotted, #ffffff, 127</value>
</constant>
<constant>
<name>titlefont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>titlecolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>titlebackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>titleborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #dddddd, 255</value>
</constant>
<constant>
<name>titleborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>titleshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>captionfontfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 28</value>
</constant>
<constant>
<name>captionfontcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>descriptionfontfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 16</value>
</constant>
<constant>
<name>descriptionfontcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>imageborderleft</name>
<kind>BorderLeft</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderright</name>
<kind>BorderRight</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imagebordertop</name>
<kind>BorderTop</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderbottom</name>
<kind>BorderBottom</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderradius</name>
<kind>BorderRadius</kind>
<value>5px, 5px, 5px, 5px</value>
</constant>
<constant>
<name>imagebackgroundcolor</name>
<kind>BackgroundColor</kind>
<value>#010539</value>
</constant>
<constant>
<name>imageshadow</name>
<kind>BoxShadow</kind>
<value>0px, 2px, 4px, 1px, #010539, 48</value>
</constant>
<constant>
<name>picbuttonfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 16</value>
</constant>
<constant>
<name>picbuttoncolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>picbuttonbackground</name>
<kind>BackgroundGradient</kind>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>picbuttonborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderradius</name>
<kind>BorderRadius</kind>
<value>24px, 24px, 24px, 24px</value>
</constant>
<constant>
<name>picbuttonpadding</name>
<kind>Padding</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>picbuttonselectedcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>picbuttonselectedbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>navigationcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>navigationbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>navigationborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>navigationshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
</DesignConstants>
<cover alttext="" autosize="true" rid="5ZFCWIY09BARY01LHZQ2" caption="" width="576" height="768" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/GIT_workshop/ibooks-history/shared/Default.png</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
<BookWidgetsVersion>6.0.5</BookWidgetsVersion>
<shortcode>68VT6F</shortcode>
<label searchable="true">RiseFallOttomans</label>
<lastupload></lastupload>
</FrameSequencePlugin>
