<!DOCTYPE widget>
<FrameSequencePlugin>
<slides>
<slide>
<img autosize="true" alttext="" height="600" rid="JAYZWZHZ7WXAF3P8JN3X" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map01.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Osman I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="0UY1HFFBV5R00DAZZJ5U" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map02.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Orhan Ghazi</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="XADTW1MZEIOE97T1BR6T" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map03.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Murad II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="D41K6EJPYOYF1J1XDKX5" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map04.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="3MZ5K27VVVI667MY0GQI" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map05.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Selim I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="W76FEJO9VNV5X13C7ARE" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map06.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Suleiman The Magnificent</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="80YMCJQCP736C4FTOSPJ" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map07.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Murad IV</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="39EKNF167VJ2SMKI5DUW" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map08.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed IV</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="14HCYWTJ3CRUS8VJJ5XG" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map09.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed IV</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="ZTHDDFP1J1ABCHSC6YJ5" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map10.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mustafa II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="7Q4PQ56QVCXUKW65I8BK" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map11.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Ahmed III</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="R9STT8Y5OHVO4LGZIAM0" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map12.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="MPYI0PIXDVRMW0FV636D" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map13.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="E3E4Y1NH4GORJFUOX69V" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map14.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid I</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="O691LP0R37UOPW3RIHXW" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map15.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Selim III</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="BBNR8IEUG2MYQ9YTO716" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map16.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Selim III</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="X5EDF7MEOJXKHLWNHH99" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map17.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Selim III</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="KIO5AFZNHYY279WEFVNA" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map18.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="PB3DMIF2XJUWMWPU2D4C" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map19.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="P6KW8N970WJGQRSLYKEI" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map20.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="DD6JHAMQNPZSDU01RHDP" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map21.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mahmud II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="VTJQ57RFKRM70ZOO9CUZ" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map22.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdulaziz</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="LQLQT1DPU6VU4PTLRY7Z" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map23.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="9X1K89IDLBLLUNFWSOTU" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map24.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="MZ8FZ2FNT45JYU8FPILF" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map25.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="JI8VBIT84HZMZ9UETO6Q" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map26.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed V</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="8X905W9Z1Y8D081RBDL5" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map27.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Abdul Hamid II</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
<slide>
<img autosize="true" alttext="" height="600" rid="2UT5L0E9RJEJSXYFPOX2" caption="" width="821" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Map28.png</img>
<caption searchable="true"></caption>
<description searchable="true">Sultan: Mehmed VI</description>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
</slide>
</slides>
<title searchable="true">The RIse and Fall oF the Ottoman EmpIre</title>
<widget_language></widget_language>
<LocalizationMap>
<localization>
<phrase>Page views</phrase>
<translation></translation>
<modified>false</modified>
</localization>
<localization>
<phrase>Pages viewed</phrase>
<translation></translation>
<modified>false</modified>
</localization>
</LocalizationMap>
<DesignConstants widget_color="#3498DB" widget_backgroundimage="" template="Dark Background" widget_font="Verdana">
<constant>
<name>borderbackground</name>
<kind>BackgroundGradient</kind>
<value>#88badb, #88badb, 255, 255</value>
</constant>
<constant>
<name>backgroundbackground</name>
<kind>BackgroundGradient</kind>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>backgroundimage</name>
<kind>BackgroundImage</kind>
<value></value>
</constant>
<constant>
<name>backgroundoutline</name>
<kind>Outline</kind>
<value>2px, dotted, #ffffff, 127</value>
</constant>
<constant>
<name>titlefont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>titlecolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>titlebackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>titleborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #dddddd, 255</value>
</constant>
<constant>
<name>titleborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>titleshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>captionfontfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 28</value>
</constant>
<constant>
<name>captionfontcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>descriptionfontfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 16</value>
</constant>
<constant>
<name>descriptionfontcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>imageborderleft</name>
<kind>BorderLeft</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderright</name>
<kind>BorderRight</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imagebordertop</name>
<kind>BorderTop</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderbottom</name>
<kind>BorderBottom</kind>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>imageborderradius</name>
<kind>BorderRadius</kind>
<value>5px, 5px, 5px, 5px</value>
</constant>
<constant>
<name>imagebackgroundcolor</name>
<kind>BackgroundColor</kind>
<value>#010539</value>
</constant>
<constant>
<name>imageshadow</name>
<kind>BoxShadow</kind>
<value>0px, 2px, 4px, 1px, #010539, 48</value>
</constant>
<constant>
<name>picbuttonfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 16</value>
</constant>
<constant>
<name>picbuttoncolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>picbuttonbackground</name>
<kind>BackgroundGradient</kind>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>picbuttonborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>picbuttonborderradius</name>
<kind>BorderRadius</kind>
<value>24px, 24px, 24px, 24px</value>
</constant>
<constant>
<name>picbuttonpadding</name>
<kind>Padding</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>picbuttonselectedcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>picbuttonselectedbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>navigationcolor</name>
<kind>TextColor</kind>
<value>#ffffff</value>
</constant>
<constant>
<name>navigationbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>navigationborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>navigationborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>navigationshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
</DesignConstants>
<cover autosize="true" alttext="" height="768" rid="7I1GM9F8Y0Q7CAVJL630" caption="" width="576" orientation="1">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/InfoGFX/01_Ioannina/riseFallWdgt/Default.png</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
<BookWidgetsVersion>6.0.5</BookWidgetsVersion>
<shortcode></shortcode>
<label searchable="true"></label>
<lastupload></lastupload>
</FrameSequencePlugin>
