<!DOCTYPE widget>
<HotspotImage>
<background_picture orientation="1" width="2695" alttext="" autosize="false" height="3000" caption="" rid="Y09BARY01LHZQ2PBJ3E7">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/Source analysis/06_Arun_Kathjun/cloth1.jpg</background_picture>
<resize-policy value="Image draggable and resizeable">Image draggable and resizeable</resize-policy>
<position>
<Width>703</Width>
<Height>791</Height>
<X>-3</X>
<Y>-1</Y>
</position>
<hotspots>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">The English Siege of Pondicherry, 1760&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">While the scene depicted is open to interpretation, scholars believe that it reveals &lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">a depiction of the English Siege of Pondicherry that began in 1760. In that siege, the British joined with local forces to attempt to expel the French representatives of the French East India Company whose headquarters stood in the southern Indian city. &lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>50</X>
<Y>50</Y>
</position>
<point>
<x>-70</x>
<y>147</y>
</point>
<marker-label searchable="true">1</marker-label>
<marker-image orientation="1" width="0" alttext="" autosize="true" height="0" caption="" rid="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">The French East India Company&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Established in the 1660s at the behest of Jean-Baptiste Colbert, The French East &lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">India Company was designed to stake a claim in East Asia for French interests. Realizing that other European counterparts, like the British, were already carving out terrain in the region, The French king merged several governmental companies to create the French version of the EIC. They set their sites on the island of Madagascar at first, but once they noted the decline of Mughal power they struck on the mainland of India to establish their hubs. The company was eventually dismantled in 1769, not long after this siege.&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>50</X>
<Y>50</Y>
</position>
<point>
<x>-74</x>
<y>304</y>
</point>
<marker-label searchable="true">2</marker-label>
<marker-image orientation="1" width="0" alttext="" autosize="true" height="0" caption="" rid="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Union Jack&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In the lower left of this hanging, one will note the presence of the Union Jack flag &lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">as a universal symbol of British forces. It is specially designed here, however, to take on a more kaleidoscopic quality than the typical red, white, and blue that the flag sports. This multicolored representation perhaps symbolically alludes to the various alliances that the British had established within Indian communities.&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>50</X>
<Y>50</Y>
</position>
<point>
<x>-66</x>
<y>503</y>
</point>
<marker-label searchable="true">3</marker-label>
<marker-image orientation="1" width="0" alttext="" autosize="true" height="0" caption="" rid="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Elaborate Flora and Fauna&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">No detail is left overlooked in this elaborate hanging, which not only captures the &lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">details of costuming (from British uniforms to the gowns and skirt cloths of various patterns) but also frames the components of the composition with creatures taken from nature. Along the lower edge of the hanging, for example, one can see what appears to be a stylized river teeming with fish and floating fronds of flora.&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>-115</X>
<Y>653</Y>
</position>
<point>
<x>-73</x>
<y>669</y>
</point>
<marker-label searchable="true">4</marker-label>
<marker-image orientation="1" width="0" alttext="" autosize="true" height="0" caption="" rid="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Chintz&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">This hanging was created from chintz fabric, a technique that originated in  Hyderabad, India, and that was incredibly popular from the seventeenth to the nineteenth centuries. Traditional chintz was made using woodblock prints applied to calico fabrics and grew in acclaim among European audiences for the variety possible.&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>-124</X>
<Y>810</Y>
</position>
<point>
<x>-73</x>
<y>847</y>
</point>
<marker-label searchable="true">5</marker-label>
<marker-image orientation="1" width="0" alttext="" autosize="true" height="0" caption="" rid="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
</hotspots>
<support_student_account value="no">No student accounts</support_student_account>
<student_account_authproviders/>
<student_account_school>
<code></code>
<name>Anyone</name>
</student_account_school>
<student_account_authrestrict>yes</student_account_authrestrict>
<widget_language></widget_language>
<LocalizationMap>
<localization>
<phrase>Hotspot accesses</phrase>
<translation></translation>
<modified>false</modified>
</localization>
<localization>
<phrase>Hotspots accessed</phrase>
<translation></translation>
<modified>false</modified>
</localization>
</LocalizationMap>
<DesignConstants widget_font="Verdana" widget_backgroundimage="" template="Dark Background" widget_color="#3498DB">
<constant>
<name>hiddenborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>hiddenbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 1, 1</value>
</constant>
<constant>
<name>hiddenshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>labelborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>labelbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>labelcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>labelfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>labelshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>pointerborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>popupborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>popupshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>popupfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 14</value>
</constant>
<constant>
<name>popupcolor</name>
<kind>TextColor</kind>
<value>#000000</value>
</constant>
<constant>
<name>buttonstrokecolor</name>
<kind>StrokeColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>buttonfillcolor</name>
<kind>FillColor</kind>
<value>#ffffff</value>
</constant>
</DesignConstants>
<cover orientation="1" width="699" alttext="" autosize="true" height="768" caption="" rid="PSIHZC6T0JTB1VTUBA33">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/Source analysis/06_Arun_Kathjun/DP291194.jpg</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
<BookWidgetsVersion>6.0.5</BookWidgetsVersion>
<shortcode></shortcode>
<label searchable="true"></label>
<lastupload></lastupload>
</HotspotImage>
