<!DOCTYPE widget>
<HotspotImage>
<background_picture width="3000" caption="" orientation="1" height="3000" rid="7I1GM9F8Y0Q7CAVJL630" alttext="" autosize="false">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/Source analysis/04_William/Gwyn_Before_VA_Council_1640_02.png</background_picture>
<resize-policy value="Image draggable and resizeable">Image draggable and resizeable</resize-policy>
<position>
<Width>2066</Width>
<Height>2101</Height>
<X>-13</X>
<Y>-42</Y>
</position>
<hotspots>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Lucida Grande'; font-size:12pt;">In 1640, the Virginia Governor’s Council was asked to decide on the punishment appropriate for an African – known as John Punch - who had attempted to run away to Maryland. Their verdict on the case, shown in the document below, would have profound impact on the relationship between Europe, Africa and the Americas.&lt;/span>&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; font-family:'Lucida Grande'; font-size:12pt;">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Lucida Grande'; font-size:12pt;">In the 1640s Virginia had become a Crown Colony, following the dissolution of the charter King James I had given to the Virginia Company in 1624. The council remained an important institution of colonial administration, now assisting the royally appointed governor. They also served as the highest court in the colony. Members of the council – all men – were typically wealthy and socially prominent.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width></Width>
<Height></Height>
<X></X>
<Y></Y>
</position>
<point>
<x>824</x>
<y>195</y>
</point>
<marker-label searchable="true">1</marker-label>
<marker-image width="0" caption="" orientation="1" height="0" rid="" alttext="" autosize="true">https://www.bookwidgets.com/create/embedded-resources/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="bottom">Below hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Lucida Grande'; font-size:12pt;">In this paragraph, several key details emerge. First, there is a clear sense of the legislative hierarchies of colonial society. Hugh Gwyn, from who John Punch and two others have run away, has submitted a petition to the council. This council in turn has indicated that the crime needs to be made known to the Governor in a letter; they are not the ultimate authority in the colony.&lt;/span>&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; font-family:'Lucida Grande';">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Lucida Grande'; font-size:12pt;">Also of note is the presentation of John Punch himself. Hugh Gwyn is reported to have requested that he be allowed to sell John and his accomplices, in recompense for the “loss” he has incurred. However, note that John is categorically referred to as a servant, not a slave. This has led historians to interpret John Punch originally as an indentured servant; he worked for Hugh Gwyn, without pay, but not indefinitely. &lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width></Width>
<Height></Height>
<X></X>
<Y></Y>
</position>
<point>
<x>-66</x>
<y>601</y>
</point>
<marker-label searchable="true">2</marker-label>
<marker-image width="0" caption="" orientation="1" height="0" rid="" alttext="" autosize="true">https://www.bookwidgets.com/create/embedded-resources/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">Here, the mechanisms of colonial authority are again made evident. It has granted the power for a party of men to be established, paid by public funds, to hunt down and recover John Punch and his accomplices. Also, of note here are the dates. The establishment of this commission has taken around 25 days since the previous petition was submitted to the council, indicating how slow the processes of government administration and control could be in colonial societies.&lt;/span>&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; font-family:'.SF NS Text';">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">This paragraph also contains clear indications as to the underlying racial elements of colonial society, with the emphasis being clear on John Punch and others as runaway negroes.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>390</X>
<Y>261</Y>
</position>
<point>
<x>-60</x>
<y>1145</y>
</point>
<marker-label searchable="true">3</marker-label>
<marker-image width="0" caption="" orientation="1" height="0" rid="" alttext="" autosize="true">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">The capture of John Punch and his fellow fugitives is recorded in this paragraph. The brutality of colonial society is made clear, with each man sentenced to be flogged, receiving 30 “stripes” each; with the risk of infection – not to mention shock and blood loss – such punishments were severe and could even be fatal.&lt;/span>&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; font-family:'.SF NS Text';">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">Also of note are the origins of John and his accomplices; one, Victor, is Dutch, whilst the other, James Gregory, is Scottish. Both of these men, Europeans, are sentenced to serve out the rest of their service of indenture, as well as the punishment of an additional year’s service to Hugh and an additional service to the colony of 3 years.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>417</X>
<Y>457</Y>
</position>
<point>
<x>-63</x>
<y>1622</y>
</point>
<marker-label searchable="true">4</marker-label>
<marker-image width="0" caption="" orientation="1" height="0" rid="" alttext="" autosize="true">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.AppleSystemUIFont'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">Unlike his fellow – European – runaways, John Punch was sentenced to a much worse fate. He is ordered here to serve his master for the rest of his natural life. Moreover, this punishment is not limited to Virginia, but extended to everywhere (an indication of the Royal Authority with which these colonial courts were invested).&lt;/span>&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; font-family:'.SF NS Text';">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'.SF NS Text';">This is the true significance of this document. John Punch represents the first known example of legal, African slavery in the North American colonies. No longer an indentured servant, he is now the property – for life – of his master.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>21</Width>
<Height>14</Height>
<X>360</X>
<Y>748</Y>
</position>
<point>
<x>-57</x>
<y>1942</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image width="0" caption="" orientation="1" height="0" rid="" alttext="" autosize="true">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="top">Above hotspot</popup-location-preference>
</TextPopup>
</hotspots>
<support_student_account value="no">No student accounts</support_student_account>
<student_account_authproviders/>
<student_account_school>
<code></code>
<name>Anyone</name>
</student_account_school>
<student_account_authrestrict>yes</student_account_authrestrict>
<widget_language></widget_language>
<LocalizationMap>
<localization>
<phrase>Hotspot accesses</phrase>
<translation></translation>
<modified>false</modified>
</localization>
<localization>
<phrase>Hotspots accessed</phrase>
<translation></translation>
<modified>false</modified>
</localization>
</LocalizationMap>
<DesignConstants widget_color="#3498DB" widget_font="Verdana" template="Dark Background" widget_backgroundimage=",auto">
<constant>
<name>hiddenborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>hiddenbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 1, 1</value>
</constant>
<constant>
<name>hiddenshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>labelborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>labelbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>labelcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>labelfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>labelshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>pointerborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>popupborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>popupshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>popupfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 14</value>
</constant>
<constant>
<name>popupcolor</name>
<kind>TextColor</kind>
<value>#000000</value>
</constant>
<constant>
<name>buttonstrokecolor</name>
<kind>StrokeColor</kind>
<value>#000000</value>
</constant>
<constant>
<name>buttonfillcolor</name>
<kind>FillColor</kind>
<value>#ff6633</value>
</constant>
</DesignConstants>
<cover width="576" caption="" orientation="1" height="768" rid="BJ4MFLFPDO8HIIABG2HA" alttext="" autosize="true">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/02_Empires/images/Source analysis/04_William/default.png</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
<BookWidgetsVersion>6.1.2</BookWidgetsVersion>
<shortcode>HKSUNB</shortcode>
<label searchable="true">HotspotImageV02_6</label>
<lastupload></lastupload>
</HotspotImage>
